@import url("https://fonts.googleapis.com/css?family=Azeret Mono");

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #484848;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
}

.calculator {
    width: 40%;
    color: #ffffff;
}

.heading h3 {
    font-size: 25px;
    padding-top: 10;
    padding-bottom: 5;
    color: #f7841f;
}

#message {
    font-size: 20px;
    color: #f7841f;
}
.input-group {
    margin: 20px 0;
}

.input-group label {
    display: block;
}

.input-group input,
.input-group button,
.input-group select {
    width: 70%;
    padding: 12px;
    border: 2px solid #0069aa;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
}
.input-group button {
    background-color: #f7841f;
    color: #ffffff;
    }

.results {
    box-shadow: 0px 0px 10px 2px #f38d34f4;
    width: 50%;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    font-size: 20px;
}

